body{
    background-color: rgb(225, 234, 249) !important;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    text-align: center !important;
    gap: 5rem  !important ;
}
span{
    font-weight: bold;
}
.card{
    border-radius: 5px;
    box-shadow:5px 5px 2px   rgb(28, 27, 27);
    width:20rem;
    height: 26rem;
   
}
.flag{
    justify-content: center;
    place-content: center;
    text-align: center;
    width:15rem;
    height: 10rem;
    margin:auto;
}
.car{
    line-height: normal;
}
#title{
    background-color:black;
    color:white;
    border-radius: 5px;
}
a{
    text-decoration: none;
    background-color:rgb(26, 26, 27);
    color:white;
    display: inline-block;
    text-align: center;
    padding: 10px;
}